<div class="text-[#616161] h-auto w-[90%] mx-auto my-16 overflow-x-hidden">
  <h1 class="text-learnpurple mt-4 mb-12">
    <%= t(".title") %>
  </h1>
  <a class="btn btn-primary btn-small" target="_blank" href="https://learn-student.onrender.com/">Student App</a>
  <p class="my-3">
   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <h2 class="text-learnblack text-2xl">
    Meet the team
  </h2>
  <p class="my-3">
    <strong>Don</strong>: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<a class="text-learnpurple hover:text-learngreen active:text-learngreen" href="https://www.linkedin.com/">LinkedIn</a>
    <a class="text-learnpurple hover:text-learngreen active:text-learngreen" href="https://www.github.com/">Github</a>
  </p>
  <p class="my-3">
    <strong>Logan</strong>: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<a class="text-learnpurple hover:text-learngreen active:text-learngreen" href="https://www.linkedin.com/">LinkedIn</a>
    <a class="text-learnpurple hover:text-learngreen active:text-learngreen" href="https://www.github.com/">Github</a>
  </p>
  <p class="my-3">
    <strong>Nicole</strong>: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<a class="text-learnpurple hover:text-learngreen active:text-learngreen" href="https://www.linkedin.com/">LinkedIn</a>
    <a class="text-learnpurple hover:text-learngreen active:text-learngreen" href="https://www.github.com/">Github</a>
  </p>
  <p class="my-3">
    <strong>Will</strong>: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
    <a href="https://www.linkedin.com/"><%= render_svg 'linkedin', styles: "fill-current text-gray-600 hover:text-gray-700" %></a>
    <a href="https://www.github.com/"><%= render_svg 'github', styles: "fill-current text-gray-600 hover:text-gray-700" %></a>
</div>