.attribute-label {
  @include data-label;
  clear: left;
  float: left;
  margin-bottom: $base-spacing;
  margin-top: 0rem;
  text-align: right;
  width: calc(15% - 1rem);
  font-size: 16;
}

.preserve-whitespace {
  white-space: pre-wrap;
  word-wrap: break-word;

}

.attribute-data {
  float: left;
  margin-bottom: $base-spacing;
  margin-left: 2rem;
  width: calc(85% - 1rem);

  a {
    color: $learnpurple;
  }

  a:hover {
    color: $learnpurplehover;
  }
}

.attribute--nested {
  border: $base-border;
  padding: $small-spacing;
}

.cell-data {

  a {
    color: $learnblack;
  }

  a:hover {
    color: $learnpurplehover;
  }
}